{% extends 'base.html.twig' %}

{% block body %}
    <h3>Dodawanie opinii dla {{ instructor.details.firstName}} {{ instructor.details.lastName}}</h3>
    <hr/>
    {% include('course/alert.html.twig') %}
    <div class="row">
        <div class="mx-auto col-md-8 pt-3  mb-4">
            <div class="card">
                <div class="card-header text-center text-muted">Dodawanie opinii</div>
                <div class="card-body bg-light">
                    {{ form_start(form) }}
                        <div class="form-group"> form_row(form.title) }}</div>
                        <div class="form-group">{{ form_row(form.description) }}</div>
                        <div class="form-group">{{ form_row(form.rate) }}</div>
                        <div class="form-group">{{ form_row(form.submit) }}</div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

