{% extends 'base.html.twig' %}

{% block body %}
    <h3>Edycja</h3>
    <hr/>
    {% include('course/alert.html.twig') %}
    <div class="row">
        <div class="mx-auto col-md-6 pt-3  mb-4">
            <div class="card">
                <div class="card-header text-center text-muted">
                   Edycja kategorii prawa jazdy
                </div>
                <div class="card-body bg-light">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.type, {'attr': { 'class' : 'text-center form-control form-control-sm rounded-0', 'placeholder':'Nazwa kategorii'}} ) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.description, {'attr': { 'class' : 'text-center form-control form-control-sm rounded-0', 'placeholder':'Opis'}} ) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.submit, {'label': 'Zaktualizuj', 'attr': { 'class' : 'btn btn-block btn-primary rounded-0 btn-sm'}} ) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

